                body {
  background-color: white;
  color:black;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

h1 {
  color: #3a7b49c9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: white;
  font-weight: 700;

}

h2 {
  color: #3a7b49c9;;
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
}

h3 {
  color:#3a7b49c9;;
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
}

h4 {
  color: #3a7b49c9;
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
}

.banner {
  padding: 200px 0;
  margin: 10;
  background-image: url("images/that-girl-aesthetic.jpeg.webp");
  background-size:cover;
  background-position: center;
  text-align: center;

}

#banner-p {
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 70px;
}

.btn-first {
  background-color:#535956de ;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  font-weight: 600;
  border-radius: 4px;
  display: inline-block;
}

.container {
  width: 1100px;
  margin: 70px auto;
  
}

.card-white {
  background-color: white;
  padding: 24px;
  margin: 8px;
  border: 5px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.card-white-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.btn-grey{  
  background-color:#5359566c;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  font-weight: 600;
  border-radius: 4px;
  display: inline-block;

}

.btn-green{  
  background-color:#3a7b49c9;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  font-weight: 500;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

.footer{
  background-color:rgba(233, 125, 233, 0.013);
  font-size:13px ;
  text-align:center ;
  width: auto;
  margin: 0 ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #3a7b49c9;

}

.img-banner{
  font-size:20px ;
  padding: 20px 40px;
  width: 100%;
  height:358px;
  object-fit: cover;
  border-radius: 6px;
}

.sub-banner {
  width: 100%;
  text-align: center;
}